
.onyx .error .onyx-input-decorator {
	border-color: #B94A48;
}

.skin-horizontal.widgetset-onyx .widget-help {
	padding-top: 9px;
}

.skin-horizontal.widgetset-onyx .widget-required {
	font-weight: bold;
	padding: 6px;
}

.skin-horizontal.widgetset-onyx .widget-help.checkbox, .skin-horizontal.widgetset-onyx .widget-label.checkbox {
	padding-top: 6px;
}

.skin-horizontal.widgetset-onyx .widget-help.picker, .skin-horizontal.widgetset-onyx .widget-label.picker {
	padding-top: 11px;
}
.skin-horizontal.widgetset-onyx .widget-label {
	padding-top: 9px;
}