.widget-label {
	width: 160px;
	text-align: right;
	margin-right: 20px;
	padding-top: 9px;
}

.widget {
	margin-top: 15px;
}

.error {
	border-color: #B94A48;
	color: #B94A48;
}

.error .onyx-input-decorator {
	border-color: #B94A48;
}

.widget-help {
	margin-left: 10px;
	padding-top: 9px;
	color: #595959;
}

.widget-required {
	font-weight: bold;
	padding: 6px;
}

.widget-help em {
	font-weight: normal;
	font-style: normal;
	color: black;
}

.widget-help.checkbox, .widget-label.checkbox {
	padding-top: 6px;
}

.widget-help.picker, .widget-label.picker {
	padding-top: 11px;
}

.error .widget-help {
	color: #B94A48;	
}

.widget-help.none {
	display:none;
}

.large {
	width: 250px;
}
