/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.main-content {
	max-width: 800px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}


/*
.error p, .containererror > p {
	color: red;
}

.error .onyx-input-decorator {
	border-color: red;
}
*/